body{
    background-image: url(images/sky.jpg);
    text-align: center;
    align-content: center;
    margin:0;
}
.box img{
    width:200px;
    height:200px;
    border-radius:50%;
}
.box{
    /* border: 2px solid grey; */
    border-radius:100%;
    position:relative;
    margin:20px auto;
    width:200px;
    height:200px;
    float: left;
}

.b1{
    background-image: conic-gradient(red,yellow,green);
    text-align:center;
    position:relative;
}

.b2{
    background-image: conic-gradient(from 45deg, red,yellow,green);
}
.b3{
    background-image: conic-gradient( red,yellow,green,red);
}

.b4{
    background-image: conic-gradient(from -35deg at 80% 50% , red 255deg,yellow ,green,red);
}

.b5{
    background-image: repeating-conic-gradient(red 0deg,red 10deg, yellow 10deg,yellow 20deg);
}
.b6{
    background-image: repeating-conic-gradient(rgba(0,0,0,0) 0deg,rgba(0,0,0,0) 10deg,
    red 10deg,pink 30deg);
}
.b7{
    background: repeating-conic-gradient(from -45deg, yellow 0deg,yellow 90deg,black 90deg,black 180deg);
    background-size: 20px 20px;
}
.b8{
    background: repeating-conic-gradient(from -45deg, yellow 0deg,yellow 90deg,black 90deg,black 180deg);
    background-size: 20px 20px;
    border-radius: 0%;
}
.b9{
    background-image: conic-gradient(from -45deg,red 0deg,rgb(163, 71, 86) 90deg, blue 90deg,
    rgb(90, 90, 141) 180deg,green 180deg,rgb(89, 141, 89) 270deg,yellow 270deg, #7e7e17 360deg);
}

p{
    position:absolute;
    text-align:center;
    color:red;
    font-weight: bolder;
    margin-left:10px;
    top:40%;
    text-decoration: underline overline;
}
.big-box{
    border: solid 5px grey;
    text-align:center;
    position:absolute;
    margin: 0 auto;
    align-content: center;
}